
code_test/.idea/

photo_taker/.idea/

code_test/cmake-build-debug/

photo_taker/cmake-build-debug/

photo_taker/cmake-build-debug-remote/

cnn_test/.idea/

ML_code/.idea/

Dataset/photo_mixer/.idea/

redim_image/.idea/

CPP_code/photo_taker/.idea/

CNN/Dataset/photo_mixer/.idea/

CNN/ML_code/.idea/

CPP_code/photo_taker/cmake-build-debug-remote/

Mediapipe_cnn/test_mediapipe_holistic/.idea/

video_taker/.idea/

test_real_time/.idea/

test_real_time/.ipynb_checkpoints/

.vscode/c_cpp_properties.json
src/_python_module.so
src/python_module.py

src/capture/

src/.idea/
